body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  min-height: 95vh;
  align-items: center;
  justify-content: space-between;
}
.content{
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1 {
  font-size: 5rem;
}

span {
  color: rgba(12, 12, 213, 0.547);
}

.tile-image {
  width: 40%;
  height: 200px;
  width: 250px;
  border-radius: 15px;
  float: left;
  padding: 10px;
}

.span4 {
  display: block;
}

footer {
  text-align: right;
  color: midnightblue;
  margin-top: aut0;
  padding-top: 50px;
}
  
@media screen and (max-width: 650px) {
    body {
        font-size: 14px;

    }
    .card {
      width: 100%;
      display: block;
      text-align: justify;
    }

    .span4 {
      display: block;
    }
    
    h1 {
      font-size: 3rem;
    }
    .logo {
      max-height: 20px;
    }

    .content{
      display: block;
    }

    .card > img {
      display: inline;
      width: 100%;
      object-fit: cover;
    }
  }