<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advice for Today</title>
</head>
<body>
    <h1>Today's Advice</h1>
    <h2>Hello, it's <%= dayType %>, <%= advice %></h2>
</body>
</html>